fastapi
uvicorn
sqlalchemy
asyncpg==0.29.0
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart
httpx
google-generativeai
groq
openai
slowapi
python-dotenv
pydantic-settings
pillow
aiofiles
email-validator
google-auth
google-auth-oauthlib
twilio>=8.0.0